.confirmDefault {
   position: absolute;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 0 10px;
   height: 50px;
   bottom: -100px;
   transition: 0.75s;
   left: 0;
   z-index: 3;
   
   .confirmMsg {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 10px;
      width: 100%;
      height: 90%;
      background-color: white;
      color: rgb(98, 98, 98);
      border-radius: 10px;
   }
}

.confirmShow {
   bottom: 10px;
}