.holder {
   background-color: white;
   width: 100%;
   height: 100dvh;
   position: absolute;
   z-index: 5;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 12px;
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-block;
  border-top: 3px solid #000000;
  border-right: 3px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 