@font-face {
   font-family: vazirl;
   src: url('../../../public/fonts/Vazir-Thin.ttf');
}

@font-face {
   font-family: vazirb;
   src: url('../../../public/fonts/Vazir-Bold.ttf');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: vazirl;
  user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a, button, [role="button"], :where(a, button, [role="button"]):focus, :where(a, button, [role="button"]):active {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/* src/App.css */
html.lenis {
  height: 100%;
}

.lenis.lenis-smooth {
  scroll-behavior: smooth;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}