.holder {
   width: 15px;
}

.loader {
  width: 1px;
  height: 5px;
  border-radius: 4px;
  display: block;
  position: relative;
  background: currentColor;
  color: #828282;
  box-sizing: border-box;
  animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after, .loader::before {
  content: '';
  width: 1px;
  height: 5px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  box-sizing: border-box;
  animation: animloader 0.3s  0.45s  linear infinite alternate;
}
.loader::before {
  left: -10px;
  animation-delay: 0s;
}

@keyframes animloader {
  0%   { height: 10px} 
  100% { height: 2px}
}