.container {
   position: fixed;
   padding: 10px;
   height: 100dvh;
   width: 100%;
   display: flex;
   align-items: start;
   justify-content: start;
   flex-direction: column;
   background-color: rgb(0, 0, 0);
   scroll-timeline-name: --container-scroll;
   scrollbar-width: none;


   &::-webkit-scrollbar {
      display: none;
      scrollbar-width: none;
      -ms-overflow-style: none;
   }

   .backHolder {
      position: absolute;
      top: 0;
      z-index: 2;
      left: 10px;
      height: 6dvh;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 10px;
   
      &:active {
         opacity: 0.5;
      }
      
      & .backSign {
         color: white;
         font-size: 25px;
      }
      
      
      & .backText {
         padding-top: 5px;
         font-size: 15px;
         color: white;
      }
      
   }

   .learningTrack {
      width: 100%;
      height: 100dvh;
      border-radius: 20px;
      padding: 10px;
      overflow-y: auto;
      scroll-timeline-name: --container-scroll;
      scrollbar-width: none;
      scroll-snap-type: y mandatory;


      &::-webkit-scrollbar {
         display: none;
         scrollbar-width: none;
         -ms-overflow-style: none;
      }
      
      .titleHolder {
         position: relative;
         width: 100%;
         height: 100dvh;
         display: flex;
         align-items: center;
         justify-content: center;
         scroll-snap-align: start;
         scroll-snap-stop: always;
   
         .title {
            font-size: 100px;
            height: 400px;
         }
      }

      .sections {
         width: 100%;
         height: 100vh;
         scroll-snap-align: start;
         scroll-snap-stop: always;
         padding-top: 100px;
         color: white;
         font-size: 15px;
         opacity: 1;

         /* Apply animation to the first section's shapesHolder */
         &:nth-child(1) .shapesHolder .blobs {
            position: relative;
            opacity: 0;
            top: 600px;
            padding: 20px;
            background-color: rgb(255, 0, 85);
            border-radius: 20px;
            animation: appear 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
            animation-timeline: --container-scroll;
            animation-range: entry 0% entry 50%; /* Animation triggers when section enters viewport */
         }

         .shapesHolder {
            margin-top: 50px;
            display: flex;
            align-items: start;
            justify-content: space-between;
            height: 60dvh;

            .blobs {
               /* Reset default animation properties for other sections */
               position: relative;
               padding: 20px;
               background-color: rgb(255, 0, 85);
               border-radius: 20px;
            }
         }
      }
      
   
      .leftScroll {
         position: fixed;
         top: 0;
         left: 0;
         width: 1px;
         height: 0;
         background-color: rgb(174, 0, 255);
         animation: scroller linear forwards;
         animation-timeline: --container-scroll;
      }
   
      .rightScroll {
         position: fixed;
         bottom: 0;
         right: 0;
         width: 1px;
         height: 0;
         background-color: rgb(174, 0, 255);
         animation: scroller linear forwards;
         animation-timeline: --container-scroll;
      }
   
      .leftScroll2 {
         position: fixed;
         top: 0;
         right: 0;
         width: 0;
         z-index: 10;
         height: 1px;
         background-color: rgb(174, 0, 255);
         animation: scroller2 linear forwards;
         animation-timeline: --container-scroll;
      }
   
      .rightScroll2 {
         position: fixed;
         bottom: 0;
         left: 0;
         width: 0;
         height: 1px;
         background-color: rgb(174, 0, 255);
         animation: scroller2 linear forwards;
         animation-timeline: --container-scroll;
      }
   }



   .bottomLayer {
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.9);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 10;
   }
}

@keyframes scroller {
   to {
      height: 100dvh;
   }
}

@keyframes scroller2 {
   to {
      width: 100%;
   }
}

@keyframes appear {
   to {
      top: 0;
      opacity: 1;
   }
}