.container {
  position: fixed; /* Required for Image fill */
  height: 100dvh; /* Ensure scrolling */
  overflow-y: auto; /* Enable scrolling */
}

.imgHolder {
   position: fixed;
   width: 100%;
   height: 100dvh;


   .background {
      object-fit: cover; /* Ensure image covers container */
      z-index: 0; /* Keep behind content */
   }
}

.item {
   position: relative;
   top: 100vh;
   padding: 20px;
}

.backHolder {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2; /* Above image */
}

.bottomLayer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10; /* Above all */
  display: flex;
  align-items: center;
  justify-content: center;
}