.container {
   position: fixed;
   width: 100vw;
   padding: 0 15px;
   height: 100dvh;
   background-color: rgba(255, 255, 255, 0);
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

   & .image {
      width: 100vw;
      position: absolute;
      top: 0;
      z-index: -1;
   }
   
   & .mother {
      width: 100%;
      height: 100dvh;
      padding-top: 100px;
      align-items: center;
      z-index: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: start;
      justify-content: space-evenly;


      & .title {
         width: 100%;
         font-size: 20px;
         text-align: center;
      }
      

      .level {
         position: relative;
         width: 150px;
         height: 150px;
         background-color: rgba(255, 255, 255, 0.7);
         font-size: 40px;
         color: rgb(206, 206, 206);
         border-radius: 30px;
         font-weight: 700;
         display: flex;
         justify-content: center;
         align-items: center;
         margin-bottom: 10px;

         
         &:active {
            background-color: white;
         }
      }
      
      .levelDark {
         background-color: rgb(70, 0, 144);
         
         &:active {
            background-color: rgb(48, 0, 98);
         }
      }
   }

   & .programmer {
      /* position: absolute; */
      font: 20px arial;
      height: 50px;
      display: flex;
      align-items: flex-end;
      padding-bottom: 50px;

      @media (390px < width < 700px){
         font: 15px arial;
         padding-bottom: 20px;
      }

      @media (max-width: 390px){
         font: 13px arial;
      }
   }
}
