.bigMom {
   position: fixed;
   width: 100vw;
   height: 100dvh;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   padding: 20px;
   

   .pageHolder {
      z-index: 1;
      width: 100%;
      height: 100dvh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;
      gap: 10px;
      
      
      .pageTitle {
         width: 100%;
         text-align: start;
         font-size: 20px;
         font-weight: 700;
      }

      .topSection {
         width: 100%;
         height: 150px;
         padding: 15px;
         background-color: rgba(255, 255, 255, 0.212);
         backdrop-filter: blur(5px);
         border: 1px solid rgba(255, 255, 255, 0.452);
         border-radius: 20px;
         display: flex;
         align-items: start;
         justify-content: center;
         flex-direction: column;
         gap: 10px;

         .motivTitle {
            font-size: 10px;
         }

         .motivText {
            font-size: 15px;
         }
      }


      .activityHolder {
         height: fit-content;
         width: 100%;
         display: flex;
         flex-direction: column;
         padding: 20px 0 0 0;
      
         .activityTitle {
            width: 100%;
            height: fit-content;
            text-align: center;
            font-size: 18px;
         }

         .lessonsHolder {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;


            .activity {
               width: 50%;
               height: 150px;
               border-radius: 20px;
               padding: 15px;
               background-color: rgba(255, 255, 255, 0.212);
               backdrop-filter: blur(5px);
               border: 1px solid rgba(255, 255, 255, 0.452);
               
               &:active {
                  background-color: rgba(255, 255, 255, 0.493);
               }
   
               .infoHolder {
                  width: 100%;
                  height: 100%;
                  display: flex;
                  align-items: start;
                  justify-content: space-between;
                  flex-direction: column;
               }
   
               .actBtn {
                  color: rgb(75, 0, 82);
                  font: 20px arial;
                  font-weight: 500;
               }
   
               .info {
                  width: 100%;
                  height: fit-content;
                  font-size: 15px;
               }
            }
         }
      }
   }
}


