.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
}

.progressRing {
  transform: rotate(-90deg); /* Start the progress from the top */
}

.progressRingBackground {
   fill: none;
   stroke: #ff040400; /* Light gray background circle */
   stroke-width: 20;
}

.progressRingFill {
  fill: none;
  stroke: rgb(162, 0, 255); /* Green progress circle */
  stroke-width: 20;
  transition: stroke-dashoffset 0.3s ease; /* Smooth animation */
}

.progressInfo {
   position: absolute;
   height: 83px;
   z-index: 5;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.top {
   width: 100%;
   display: flex;
   gap: 5px;
   height: 90px;
   overflow: hidden;
}

.progress {
  font-size: 40px;
  color: rgb(112, 0, 177);
  z-index: 2;
}

.percent {
   font-size: 40px;
   color: rgb(145, 145, 145);
   z-index: 2;
}

.progressText {
   z-index: 2;
   text-align: center;
   width: 100%;
   font-size: 17px;
   color: rgb(131, 131, 131);
}

.sonCircle {
   position: absolute;
   width: 160px;
   height: 160px;
   border-radius: 150px;
   background: linear-gradient(145deg, #f0f0f0, #cacaca);
   box-shadow:  9px 9px 10px -10px #383838, -9px -9px 10px -10px #0000005e;
   z-index: 2;
}

.momCircle {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   background: #e0e0e0;
   box-shadow: inset 7px 7px 14px #acacac,
               inset -7px -7px 14px #ffffff;
}